*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    display: block;
}
h3{
    display: block;
    background-color: black;
    color: aliceblue;
    text-align: center;
}
article{
display: inline-block;
}
 a{
   margin-top: 20px ;
   
}
p {
    margin-top: 20px;
}

.header-content{
    background-color: aquamarine;
   
 }
 img{
    width: 200px;
    object-fit: contain;
 }
 .banner {
    height: 500px;
    display: block;
    background-image: url(./img/design1_image1.jpg);
    background-size:cover;
 }

 .logo {
    display: inline;
    float: right;
    

 }
 .menu-nav{
    text-align: left;
 }
 .data{
    text-align: right;
 }
 

 /*
.index-header{
    display: block;
}

main {
    background-color: rgba(223, 226, 207, 0.973);
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
h3{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
nav a {
    text-decoration: none;
    background-color: black;
    color: aliceblue;
}
.encabezado{
    display: inline-block;
    background-color: black;
    color: aliceblue;
}
*/
