*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
    background-color: rgb(255, 208, 0);                 
}

header{
    display: block;
    
}
main{
    display: block;
    
    
}
section {
    padding-top: 10px;
    text-justify: distribute;
    /* display: inline; */
}


.titulo{
   position: absolute;
   top: 0px;
   
}
.banner {
    width: 100%;
    height: 500px;
    display: block;
    background-image: url(./img/design1_image2.jpg);
    background-size:cover;
    margin-top: 40px;
}
nav{
    display:inline-block;
    position: absolute;
    top: 30px;
    right: 10px;

}

    

nav a{  
    display: inline;
    padding: 3px 3px 3px 3px;
    color: aliceblue;
    text-decoration: none;
    border: 2px;
    border-color: black;
    border-style:groove;
    background-color: blue;   
}
.home{
    padding: 3px 3px 3px 3px;
    color: aliceblue;
    text-decoration: none;
    border: 2px;
    border-color: black;
    border-style:groove;
    background-color: green;   
}
h3{
    background-color: black;
    color: aliceblue;
    text-align: center;
    display: block;
    
}
figure{
    display: inline-block;
    
}

img {
    width: 150px;
   
}
.logo{
    /* display: inline-block; */
    /* position: sticky; */
}


.addInfo {
    padding: 10px;
    width: 600px;
    height: 500px;
    /* position:absolute; */
   /*  display: inline-block; */
    
}
.addInfo p{
    
    font-size: small;
    padding-top: 2px;
    padding-left: 20px;
   
}
aside{
    padding-top: 20px;
    /* position: absolute; */
    text-align: left;
}
.lib{
    display: none;
}
.flex-main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
}

/*
.imagen{
    transform: scale(1.2) rotate(-20deg);
    transition-duration: 1s;
    transition-timing-function: ease-in;

}

*/